#
# pin constraints
#
NET BTNs_5Bits_TRI_IO[0] LOC = "P16"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[1] LOC = "R16"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[2] LOC = "N15"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[3] LOC = "R18"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[4] LOC = "T18"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[0] LOC = "F22"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[1] LOC = "G22"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[2] LOC = "H22"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[3] LOC = "F21"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[4] LOC = "H19"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[5] LOC = "H18"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[6] LOC = "H17"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[7] LOC = "M15"  |  IOSTANDARD = "LVCMOS25";
#
# additional constraints
#

