#Buttons
NET "BTNs_5Bits_TRI_IO[0]" LOC = P16;
NET "BTNs_5Bits_TRI_IO[0]" IOSTANDARD = LVCMOS25;
NET "BTNs_5Bits_TRI_IO[1]" LOC = R16;
NET "BTNs_5Bits_TRI_IO[1]" IOSTANDARD = LVCMOS25;
NET "BTNs_5Bits_TRI_IO[2]" LOC = N15;
NET "BTNs_5Bits_TRI_IO[2]" IOSTANDARD = LVCMOS25;
NET "BTNs_5Bits_TRI_IO[3]" LOC = R18;
NET "BTNs_5Bits_TRI_IO[3]" IOSTANDARD = LVCMOS25;
NET "BTNs_5Bits_TRI_IO[4]" LOC = T18;
NET "BTNs_5Bits_TRI_IO[4]" IOSTANDARD = LVCMOS25;

#Switches
NET "SWs_8Bits_TRI_IO[0]" LOC = F22;
NET "SWs_8Bits_TRI_IO[0]" IOSTANDARD = LVCMOS25;
NET "SWs_8Bits_TRI_IO[1]" LOC = G22;
NET "SWs_8Bits_TRI_IO[1]" IOSTANDARD = LVCMOS25;
NET "SWs_8Bits_TRI_IO[2]" LOC = H22;
NET "SWs_8Bits_TRI_IO[2]" IOSTANDARD = LVCMOS25;
NET "SWs_8Bits_TRI_IO[3]" LOC = F21;
NET "SWs_8Bits_TRI_IO[3]" IOSTANDARD = LVCMOS25;
NET "SWs_8Bits_TRI_IO[4]" LOC = H19;
NET "SWs_8Bits_TRI_IO[4]" IOSTANDARD = LVCMOS25;
NET "SWs_8Bits_TRI_IO[5]" LOC = H18;
NET "SWs_8Bits_TRI_IO[5]" IOSTANDARD = LVCMOS25;
NET "SWs_8Bits_TRI_IO[6]" LOC = H17;
NET "SWs_8Bits_TRI_IO[6]" IOSTANDARD = LVCMOS25;
NET "SWs_8Bits_TRI_IO[7]" LOC = M15;
NET "SWs_8Bits_TRI_IO[7]" IOSTANDARD = LVCMOS25;

#LEDs
# "leds0"
NET "leds[0]" LOC = T22;
NET "leds[0]" IOSTANDARD = LVCMOS33;
# "leds1"
NET "leds[1]" LOC = T21;
NET "leds[1]" IOSTANDARD = LVCMOS33;
# "leds2"
NET "leds[2]" LOC = U22;
NET "leds[2]" IOSTANDARD = LVCMOS33;
# "leds3"
NET "leds[3]" LOC = U21;
NET "leds[3]" IOSTANDARD = LVCMOS33;
# "leds4"
NET "leds[4]" LOC = V22;
NET "leds[4]" IOSTANDARD = LVCMOS33;
# "leds5"
NET "leds[5]" LOC = W22;
NET "leds[5]" IOSTANDARD = LVCMOS33;
# "leds6"
NET "leds[6]" LOC = U19;
NET "leds[6]" IOSTANDARD = LVCMOS33;
# "leds7"
NET "leds[7]" LOC = U14;
NET "leds[7]" IOSTANDARD = LVCMOS33;
INST "partial_led_test_0/partial_led_test_0/USER_LOGIC_I" AREA_GROUP = "pblock_partial_led_test_0_USER_LOGIC_I";
AREA_GROUP "pblock_partial_led_test_0_USER_LOGIC_I" RANGE=SLICE_X36Y75:SLICE_X47Y99;
